@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --sky: #38bdf8;
  --sea: #2563eb;
  --sky-text: #fbbf24;
  --sea-text: #e0f2fe;
  --sky-dark: #0f172a;
  --sea-dark: #020617;
  --sky-text-dark: #cbd5e1;
  --sea-text-dark: #64748b;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Light mode colours */
  --color-sky: var(--sky);
  --color-sea: var(--sea);
  --color-sky-text: var(--sky-text);
  --color-sea-text: var(--sea-text);

  /* Dark mode colours */
  --color-sky-dark: var(--sky-dark);
  --color-sea-dark: var(--sea-dark);
  --color-sky-text-dark: var(--sky-text-dark);
  --color-sea-text-dark: var(--sea-text-dark);
}

body {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
